# Analysis of Synthetically Generated Data
Validating that the sampling produces data of the correct characteristics

In [1]:
import init
from common import constants as cn
from common.data_provider import DataProvider
from common import transform_data
from common_python.statistics import empirical_distribution_generator, density, multiple_density

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

## Reproduce the original distribution

In [17]:
df_data = transform_data.makeTrinaryData(is_include_nan=False)
empirical = empirical_distribution_generator.EmpiricalDistributionGenerator(df_data.T)
df_X = empirical.sample(10000)

In [20]:
print("nrows: %d, ncols: %d" % (len(df_X), len(df_X.columns)))

nrows: 10000, ncols: 2582

In [21]:
density_generated = multiple_density.MultipleDensity(df_X, [-1, 0, 1])

In [22]:
density_generated.df.head()

GENE_ID,Rv0001,Rv0005,Rv0006,Rv0009,Rv0010c,Rv0011c,Rv0013,Rv0014c,Rv0016c,Rv0020c,...,Rvnt36,Rvnt37,Rvnt38,Rvnt39,Rvnt40,Rvnt41,Rvnt42,Rvnt43,Rvnt44,Rvnt45
-1,0.0000,0.1155,0.1155,0.1533,0.1155,0.0,0.1155,0.1522,0.1155,0.1155,...,0.0000,0.000,0.0000,0.00,0.0000,0.0000,0.0000,0.1157,0.0000,0.0401
0,0.9183,0.8042,0.6963,0.7724,0.8845,1.0,0.8845,0.8478,0.8845,0.7689,...,0.7285,0.389,0.1563,0.81,0.9257,0.9246,0.5044,0.5834,0.6866,0.6497
1,0.0817,0.0803,0.1882,0.0743,0.0000,0.0,0.0000,0.0000,0.0000,0.1156,...,0.2715,0.611,0.8437,0.19,0.0743,0.0754,0.4956,0.3009,0.3134,0.3102

In [23]:
density_raw = multiple_density.MultipleDensity(df_data.T, [-1, 0, 1])
density_raw.df.head()

GENE_ID,Rv0001,Rv0005,Rv0006,Rv0009,Rv0010c,Rv0011c,Rv0013,Rv0014c,Rv0016c,Rv0020c,...,Rvnt36,Rvnt37,Rvnt38,Rvnt39,Rvnt40,Rvnt41,Rvnt42,Rvnt43,Rvnt44,Rvnt45
-1,0.000000,0.115385,0.115385,0.153846,0.115385,0.0,0.115385,0.153846,0.115385,0.115385,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.115385,0.000000,0.038462
0,0.923077,0.807692,0.692308,0.769231,0.884615,1.0,0.884615,0.846154,0.884615,0.769231,...,0.730769,0.384615,0.153846,0.807692,0.923077,0.923077,0.5,0.576923,0.692308,0.653846
1,0.076923,0.076923,0.192308,0.076923,0.000000,0.0,0.000000,0.000000,0.000000,0.115385,...,0.269231,0.615385,0.846154,0.192308,0.076923,0.076923,0.5,0.307692,0.307692,0.307692

## Reproduce the original covariance structure

## Maintain marginals with random replacement, but eliminate covariances.